@import "bases/var",
        "bases/mixin";

* {
    margin: 0;
    padding: 0;
}

th {
    text-align: center !important;
}

.site-diary-navbar {
    display: flex !important;
    justify-content: center !important;
}

#tableSiteList {
    .table {
        thead {
            tr {
                th {
                    color: #fff;
                    padding: 0.4rem;

                    &:first-child {
                        width: 75%;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    color: #fff;
                    padding: 0.4rem;
                }
            }
        }
    }
}

.card {
    .card-header {
        color: #fff;
    }

    .card-footer {
        display: flex;
        justify-content: flex-end;

        button {
            &:not(:last-child) {
                margin-right: 0.25rem;
            }
        }
    }
}

.site-diary-tab-content {
    padding-top: 0 !important;
}

.col-form-label {
    color: #fff;
    padding-left: 1.95rem !important;
}

.dropdown-menu {
    background-color: #5f6d88 !important;

    .dropdown-item {
        &:hover {
            color: #3b4863 !important;
        }
    }
}

input {
    color: #3b4863 !important;
}

.input-group-text {
    color: #3b4863 !important;
}

.custom-file-label {
    color: #3b4863 !important;

    &::after {
        content: none !important;
    }
}